<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095248851831-ph1jao16oer9ci0n82vm2ca63hquhrcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095248851831-ph1jao16oer9ci0n82vm2ca63hquhrcm</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2a6D91WfIVaATMrXezwMb_XV-LiuELA</string>
	<key>GCM_SENDER_ID</key>
	<string>1095248851831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatBotTest</string>
	<key>PROJECT_ID</key>
	<string>chatbottest-a8023</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbottest-a8023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095248851831:ios:79769d948ad2a628486772</string>
</dict>
</plist>